__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
*.html
*.csv
*.xyz
*.extxyz
*.png
*.pdf
*.svg
*.log
*/VTSTscripts
VASPscripts/
*/.vscode/
.vscode/
backup/

# VASP / workflow outputs
OUTCAR
OSZICAR
XDATCAR
CHGCAR
WAVECAR
DOSCAR
vaspout.h5
POSCAR
CONTCAR
